#landing-page{
        
        .simple-background-image{
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        }
        
        .landing-body{
        min-height: 65vh;
        
            background-image: radial-gradient(
            rgba(255, 255, 255, 0.918) , 
            rgba(253, 253, 253, 0.719) 
        ), url(https://images.pexels.com/photos/210881/pexels-photo-210881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        
        font-family: 'Roboto','Righteous'
        }
        
        
        .header-links{
        margin-left: 2%;
        }
        
        .primary-button{
        border: 1px solid rgba(122, 120, 120, 0.123); 
        background-color: rgba(190, 23, 23,1)  ; 
        color:white;
        padding: 10px  18%; 
        border-radius: 8px;
        border: 0;
        text-decoration: none;
        font-family:  sans-serif;
        box-shadow: 1px 1px 10px rgba(97, 97, 97, 0.356); 
        transition: all 1s ease;
        margin-right: 10px;
        height: 40%;
        }
        
        .primary-button:hover{
        background-color: rgb(226, 85, 85)   ;
        box-shadow: 1px 1px 10px rgba(97, 97, 97, 0.609); 
        }
        
        .horizontal-list li{
        display:inline-block;
        list-style-type: none;
        padding: 10px;
        }
        
        footer{
        text-align: center;
        font-family: 'Roboto';
        background-color: rgb(59, 89, 0) ;
        color:rgba(255, 255, 255, 0.945);
        background-image: radial-gradient(
            rgba(0, 0, 0, 0.494) , 
            rgba(0, 0, 0, 0.561) 
        ),url(https://images.pexels.com/photos/908301/pexels-photo-908301.jpeg?cs=srgb&dl=blackboard-board-close-up-908301.jpg&fm=jpg);
        
        padding:  0.5% 2%;
        position: relative;
        bottom: 0;
        }
        
        
        @media all and (max-width:715px){
            .landing-body{
                background-size:auto 100%  ;
            }
            
            .simple-background-image{
                background-size:auto 100%  ;
            }
        }
}