#modal-with-request{
    // p {
    //     font-size: 206px;
    //     color:red;
    // }

   
}
.request{
    margin-top: 19px;
    padding: 3px 4px 10px;
}
 p{
        font-size: 18px;
        display: block;
        margin-bottom: 12px;
    }
    